#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#todo-form input {
  width: 300px;
  height: 30px;
  margin: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 2em;
}